/* Style that ensures the page is always 100% filled to the bottom of the page */
html, body {
    height: 100%;
}

/* Default styles for items on the page */
body {
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
    height: 100%;
}

/* Style for the header and nav */
header {
    background-color: white;
    padding: 10px 0px;
}

nav {
    background-color: rgb(181, 181, 181);
    background-image: url(../images/heroimage.jpg);
    background-size: cover;
    background-blend-mode: screen;
    background-position-y: -150px;
}

/* Style for the list to have the text have no style, and for the list to be flex and 
wrapping with center justified content*/
nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style for the list items to have a certain height, background colour, and margin */
nav ul li {
    height: 220px;
    background-color: black;
    margin: 10px;
}

/* Style for h4 text in the list items to be white */
nav ul li h4 {
    color: white;
}

/* Style for a text */
a {
    text-decoration: none;
    color: white;
}

/* Style for footer, ensuring it is pushed to the bottom of the page and sticky */
footer {
    padding: 20px 0;
    text-align: center;
    background-color: rgb(137, 127, 127);
    height: 80px;
    position: sticky;
    top: 100%;
}

/* Style to determine header logo height and shadow */
#header_logo {
    width: 400px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .5);
}

/* Styles for each character's icon in the list, with each having a box shadow that expands
into the text area when hovered over. Also, moving the spritesheet over for each character
so that they proper character's face appears in the box */

#michael_box {
    box-shadow: 0px 155px 0px #5fa4ff inset;
    transition: box-shadow 0.2s ease-in-out;
}
 
 
#michael_box:hover {
    box-shadow: 0 220px 0 0 #5fa4ff inset;
}
 
 
#dwight {
    background-position: -150px 0;
}
 
 
#dwight_box {
    box-shadow: 0px 155px 0px #ff8921 inset;
    transition: box-shadow 0.2s ease-in-out;
}
 
 
#dwight_box:hover {
    box-shadow: 0 220px 0 0 #ff8921 inset;
}
 
 
#jim {
    background-position: -300px 0;
}
 
 
#jim_box {
    box-shadow: 0px 155px 0px #3ada0e inset;
    transition: box-shadow 0.2s ease-in-out;
}
 
 
#jim_box:hover {
    box-shadow: 0 220px 0 0 #3ada0e inset;
} 

#pam {
    background-position: -450px 0px;
}

#pam_box {
    box-shadow: 0px 155px 0px #591277 inset;
    transition: box-shadow 0.2s ease-in-out;
}
 
 
#pam_box:hover {
    box-shadow: 0 220px 0 0 #591277 inset;
} 

#andy {
    background-position: -600px 0px;
}

#andy_box {
    box-shadow: 0px 155px 0px #c00d00 inset;
    transition: box-shadow 0.2s ease-in-out;
}
 
#andy_box:hover {
    box-shadow: 0 220px 0 0 #c00d00 inset;
} 

#angela {
    background-position: -750px 0px;
}

#angela_box {
    box-shadow: 0px 155px 0px #dfbd24 inset;
    transition: box-shadow 0.2s ease-in-out;
}
 
#angela_box:hover {
    box-shadow: 0 220px 0 0 #dfbd24 inset;
} 

/* Whenever a character is hovered over, move the spritesheet to put the coloured version of that
character's photo into the box(The coloured version also has a slight offset to make the image look
like it moves up a little) */

#michael:hover, #dwight:hover, #jim:hover, #pam:hover, #andy:hover, #angela:hover {
    background-position-y: -150px;
}

/* Style to align the instructions in the center with some padding */
#instructions {
    padding: 20px;
    text-align: center;
}
 
/* Styles to change the background image depending on which lightbox is opened, in order to align with
which character was clicked */

#lightbox2 {
    background-image: url(../images/dwightBG.png)
}

#lightbox3 {
    background-image: url(../images/jimBG.png)
}

#lightbox4 {
    background-image: url(../images/pamBG.png)
}

#lightbox5 {
    background-image: url(../images/andyBG.png)
}

#lightbox6 {
    background-image: url(../images/angelaBG.png)
}

/* Style to hide elements that aren't meant to be seen */
.hidden {
    display: none;
}

/* Style for each image in the sprite sheet to have the dimensions of each charachter square in the sheet,
as well as giving the background image */
.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../images/spritesheet.png);
}

/* Style for the lightboxes, giving them a size equal to the window with a translucent background, as well as
a background image. This style starts hidden */
.lightbox {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    background-image: url(../images/michaelBG.png);
    background-repeat: no-repeat;
    background-size: 75vh;
    background-position: 0px bottom;
    display: none;
}

/* When a character is clicked, their lightbox appears */
.lightbox:target {
    display: block;
}

/* Style that makes a box for the character bio inside of the lightbox */
.lightbox article {
    background-color: black;
    width: 800px;
    padding: 15px;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin: 25px 25px auto auto;
}

/* Style to make the top section of the lightbox flex so that the name and X appear
on the same line */
.lightbox_header {
    display: flex;
}

/* Style to make a and h5 text bold in the lightbox */
.lightbox a, .lightbox h5 {
    font-style: bold;
}

/* Styles for lightbox a, h5, and p text */
.lightbox a {
    text-align: right;
    font-size: 32px;
    margin: 15px 25px auto auto;
}

.lightbox h5 {
    text-align: left;
    font-size: 20px;
    font-style: bold;
    margin: 25px auto auto 25px;
}

.lightbox p {
    width: 800px;
    margin: 25px 25px auto auto;
    font-size: 20px;
}